<!-- <div class="event-panel panel panel--3"> -->
  <i class="event-panel__action-button js-close-panel material-icons">close</i>
  <h2 class="event-panel__content event-panel__heading">Events</h2>

  <div class="events-container">
    <% user.events.each do | event |  %>
    <div class="event-panel__item">
      <a href="#" target="_blank">
        <%= image_tag('events/' + event.logo_path, :alt => event.name) %>
      </a>
    </div>
    <% if user == current_user %>
      <%= link_to "Remove Conference", { controller: 'users', action: "remove_event", event_id: event.id }, method: :delete %>
    <%end%>
    <% end %>
  </div>

  <% if user == current_user %>
  <div class="event-panel__add-item">
    <i class="big-icon material-icons">add</i>
    <h4>Add Event</h4>
  </div>
  <%= form_for User.new, :url => { :action => "add_event", :controller => "users" }, :html => { :method => "put" } do |f| %>


  <%= f.label 'Add an Event' %><br>
      <% Event.all.each do | event | %>
        <li class="questionnaire__item list__item">
        <div class="checkbox">
          <input name="event_ids[]" class="event__item__checkbox" type="checkbox" id="checkbox-<%=event.id%>" value="<%=event.id%>">
          <label class="event-label" for="checkbox-<%=event.id%>" ><%= event.name %></label>
        </div>
        </li>
      <% end %>

<%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Save", class: "button" %>
<% end %>
<% end %>

<!-- </div> -->
