<!-- <div class="event-panel panel panel--3"> -->
<i class="event-panel__action-button js-close-panel material-icons">close</i>
<h2 class="event-panel__content event-panel__heading">Events</h2>

<div class="events-container">
  <% if user != current_user %>
    <% user.events.each do | event |  %>
        <div class="event-panel__item list__item event-label">
        <a href="<%=event.url%>" target="_blank">
          <%= image_tag('events/' + event.logo_path, :alt => event.name, :class => 'event-logo__active ' + event.name.parameterize) %>
        </a>
        </div>
    <%end%>
  <% else %>
    <div class="event-panel__item">
      <p>Going to an event? We partner with event organizers from around the world. Click on one of the available events below to let others know what events you’re attending. You can also search for other Network of Innovators users who are also planning to attend.</p>
    </div>

    <%= form_for(User.new, :url => { :action => "add_and_remove_events", :controller => "users" }, :html => { :method => "put", :class => 'form form--negative' }, remote:true ) do |f| %>

      <% Event.all.each do | event | %>
        <div class="event-panel__item list__item">
          <label class="event-label" for="checkbox-<%=event.class.name.downcase%>-<%=event.id%>" >
            <input name="event_ids[]" class="event__item__checkbox" type="checkbox" id="checkbox-<%=event.class.name.downcase%>-<%=event.id%>" value="<%=event.id%>">

            <%= f.hidden_field :user_id, value: current_user.id %>
            <% if current_user.events.include?(event) %>
              <%= f.submit "Submit", name: 'event_ids[]', value: event.id, :type => :image, :class => 'event-logo__active ' + event.name.parameterize, :src => image_path('events/' + event.logo_path) %>
            <% else %>
              <%= f.submit "Submit", name: 'event_ids[]', value: event.id, :type => :image, :class => 'event-logo ' + event.name.parameterize, :src => image_path('events/' + event.logo_path) %>
            <% end %>
          </label>
        </div>
    <% end %>
  <% end %>
<% end %>
</div>

<!-- </div> -->
