<!-- <div class="event-panel panel panel--3"> -->
  <i class="event-panel__action-button js-close-panel material-icons">close</i>
  <h2 class="event-panel__content event-panel__heading">Events</h2>

  <div class="events-container">
    <% user.events.each do | event |  %>
    <div class="event-panel__item">
      <a href="#" target="_blank">
        <%= image_tag('events/' + event.logo_path, :alt => event.name) %>
      </a>
    </div>
    <% if user == current_user %>
      <%= link_to "Remove Conference", { controller: 'users', action: "remove_event", event_id: event.id }, method: :delete %>
    <%end%>
    <% end %>
  </div>

  <% if user == current_user %>
  <div class="event-panel__add-item">
    <i class="big-icon material-icons">add</i>
    <h4>Add Event</h4>
  </div>
  <%= form_for User.new, :url => { :action => "add_event", :controller => "users" }, :html => { :method => "put" } do |f| %>


  <%= f.label 'Add an Event' %><br>
  <%# select_tag 'user[events]',
      options_from_collection_for_select(Event.all, "id", "name", User.new.events), { :multiple => true, :size =>3}
  %>
    <%= f.collection_select :event_ids, Event.order(:name),:id,:name, include_blank: true %>
<%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Add Event", class: "button" %>
<% end %>
<% end %>

<!-- </div> -->
