<!-- <div class="expertise-panel panel panel--4"> -->
  <i class="expertise-panel__action-button js-close-panel material-icons">close</i>
  <h2 class="expertise-panel__content expertise-panel__heading">Expertise</h2>

  <div class="expertise-container">
    <% user.format_main_expertise.each do | expertise | %>
    <div class="expertise-panel__item">
      <h3 class="expertise-panel__main-category"><%=expertise[:category]%></h3>
        <% expertise[:skill_areas].each do |sa| %>
          <section class="expertise-panel__question-group">
            <h4 class="expertise-panel__sub-category"><%= sa[:area_name].titleize %> </h4>
            <% sa[:area_skills].each do |skill| %>
            <p class="expertise-panel__question"><%= skill.capitalize if skill %></p>
            <% end %>
          </section>
        <% end %>
    </div>
    <% end %>
    
    <% if user == current_user %>
    <%= link_to (url_for(fetch_user_learning_menu_path)), :remote => true do %>
    <div class="expertise-panel__item">  
      <div href="#" class="button button--main-color button--full">I wanna learn</div>
    </div>
      <% end %>
    <%= link_to (url_for(fetch_user_teaching_menu_path)), :remote => true do %>
      <div class="expertise-panel__item">  
        <div class="button button--main-color button--full">I know</div>
      </div>
    <% end %>
  <% end %>
  </div>
  

<!-- </div> -->
