<div class="profile-panel panel panel--1 js-active">
  <i class="profile-panel__action-button material-icons">edit</i>
  <%= image_tag('users/128.jpg', :alt => "User", :class => "profile-panel__picture") %>
  <hgroup class="profile-panel__titles">
    <h2 class="profile-panel__name"><%= user.first_name %> <%= user.last_name %></h2>
    <h3 class="profile-panel__job"><%= user.position %></h3>
    <h4 class="profile-panel__org">UK Government</h4>  
  </hgroup>
  <section class="profile-panel__credentials">
    <div class="row">
      <div class="medium-6 small-12 column">
        <p class="profile-panel__domains">Domains of Expertise Paruptiae latius peditatest aut maiorro eossi ini dolorrumqui deliqui demperum aspid magnatiunt</p>    
      </div>
      <div class="medium-6 small-12 column">
        <p class="profile-panel__location"><%= user.city %>, <%= user.country %></p>
        <ul class="profile-panel__lang">
          <li class="">English</li>
          <li class="">Spanish</li>
          <li class="">French</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="profile-panel__projects-button">
    <!-- {# == This <a> tag is for prototype navigation purposes only. It should not make it to the final app == #} -->
    <a href="partial-projects.html">Projects <i class="material-icons js-open-panel-2">arrow_forward</i></a>
  </div>
  <div class="profile-panel__events-button">
    <!-- {# == This <a> tag is for prototype navigation purposes only. It should not make it to the final app == #} -->
    <a href="partial-events.html">Events <i class="material-icons js-open-panel-2">arrow_forward</i></a>
  </div>
  <!-- {# IF EXPERTISE #} -->
  <% if user.categories %>
  <section class="profile-panel__expertise-panel">
    <h5 class="profile-panel__expertise-panel-title">
      <a href="partial-expertise.html">Expertise <i class="material-icons js-open-panel-2">arrow_forward</i></a>
    </h5>
    <div class="profile-panel__content">
      <ul class="category-tags category-tags--negative">
        <% user.categories.each do | category | %>
        <li class="category-tag">
          <span class="category-tag__main"><%= category.name.titleize %></span>
          <span class="category-tag__sub">Implementation</span>
        </li>
        <li class="category-tag__skills">View Skills (10)</li>
        <% end %>
      </ul>
    </div>
  </section>
  <!-- {# ELSE #} -->
  <% else %>
  <div class="profile-panel__add-item">
    <i class="big-icon material-icons">add</i>
    <h4>Add Expertise</h4>
  </div>
  <!-- {# ENDIF #} -->
  <% end %>
</div>