<!-- <div class="project-panel panel panel--2"> -->
  <i class="project-panel__action-button js-close-panel material-icons">close</i>
  <h2 class="project-panel__content project-panel__heading">Projects</h2>
  <p class="project-panel__content">Share your relevant projects so others can get a better idea of your applied experience.</p>
  <div class='projects-container'>
  <% user.projects.each do | project | %>
  <div class="project-panel__item">
    <h3 class="project-panel__title"><%= project.title %></h3>
    <a class="project-panel__url" href="<%= project.url %>" target="_blank"><%= project.url %></a>
    <ul class="project-panel__tags category-tags category-tags--negative">
    <!-- ADD CATEGORY TAGS TO PROJECTS -->
      <%project.format_categories.each do |cat|%>
      <li class="person-item__tag category-tag">
        <span class="category-tag__main"><%= cat[:category].titleize %></span>
        <% cat[:skill_areas].each do |sa| %>
          <span class="category-tag__sub"><%= sa.titleize %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
    <p><%= project.description %></p>
    <span class="industry-tag"><%= project.industries.map {| industry | industry.name }.sort.join(', ') %></span>
    <div>
    <% if current_user.id == user.id %>
      <span class="button"><%= link_to "Edit", {controller: 'projects', action: "fetch_edit_project", id: project.id }, remote: true %></span>
      <span class="button"><%= link_to "Delete", {controller: 'projects', action: "destroy", id: project.id }, method: :delete, remote: true %></span>
    <%end%>
    </div>
    <!-- ADD INDUSTRY TAGS TO PROJECTS-->
    
  </div>
  <% end %>
  <!-- </div> -->

  <% if user == current_user %>
    <%= render 'projects/new'%>
  <% end %>

</div>