<!-- TODO: Default to current user if current_user, else default to sign on screen-->
<%# if user_signed_in? %>
<%# render 'profile', { user: current_user  }%>
<%# render 'projects', { user: current_user  }%>
<%# render 'events', { user: current_user }%>
<%# render 'expertise', { user: current_user  }%>

<% if user_signed_in? %>
<div class="profile-panel panel panel--1">
  <%= render 'profile', { user: current_user  }%>
</div>
<div class="project-panel panel panel--2">
  <%= render 'projects', { user: current_user  }%>
</div>
<div class="event-panel panel panel--3">
  <%= render 'events', { user: current_user }%>
</div>
<div class="expertise-panel panel panel--4">
  <%= render 'expertise', { user: current_user  }%>
</div>
<% else %>
<%= render 'devise/registrations/new' %>
<% end %>

<div class="main-content search-page">
<!--   <div class="toast toast--yellow js-active">
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Titles don’t say enough</h4>
    <p class="toast__text">Find experts to contact based on their innovation experience. Search below for innovators with different areas of expertise.</p>
  </div> -->

  <article class="main-content__container">
    <section class="filter-section">
      <%= form_tag(users_path, :method => "get", id: "search-form") do %>

      <div class="search find-innovator" action="">
        <%= text_field_tag "search_string", @params['search_string'], placeholder: "Keyword Search", :class => "search__field" %>
        <%= submit_tag "search", :name => nil %>
      </div>
      <p><em class="highlighted-or">OR</em> Find someone with experience in: </p>
      
      <div class="row">
        <div class="large-6 small-12 columns">
          <div class="select select--inline">
            <%= select_tag "category",
            options_for_select(@categories.map { |cat| cat.display_name }, @params['category']), { :include_blank => 'Pick an Innovation Area' } %>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="select select--inline ">
            <%= select_tag "skill_area",
            options_for_select(@skill_areas.map { |skill_area| skill_area.titleize.humanize }, @params['skill_area']), { :include_blank => 'Pick a Skill Area' } %>
          </div>
        </div>
      </div>
        <fieldset class="extra-filters-fieldset">
          <p><a href="#" class="button" id="more-filters">More Filters <i class="material-icons collapsed-que">add</i></a> <a href="#" class="button" id="reset-filters">Reset All</a></p>
          <div class="extra-filters">
            <label class="select select--inline select-industry">
              <%= select_tag "industry", options_for_select(@industries.map { |e| e['name'] }, @params['industry']), { :include_blank => 'Industry' } %>
            </label>
            <label class="select select--inline select-country">
              <%= select_tag "country", options_for_select(ISO3166::Country.all.map { |e| e }, @params['country']), { :include_blank => 'Country' } %>
            </label>
            <label class="select select--inline select-language">
              <%= select_tag "language", options_for_select(@languages.map { |e| e['name'] }, @params['language']), { :include_blank => 'Language' } %>
            </label>
            <label class="select select--inline select-event">
              <%= select_tag "event", options_for_select(@events.map { |e| e['name'] }, @params['event']), { :include_blank => 'Event' } %>
            </label>
          </div>
        </fieldset>
      </form>
      <% end %>
    <!-- <section class="active-filters">
      <span class="filter-by">Filter by</span>
      <span class="active-filters__item">Location</span>
      <span class="active-filters__item">Field of Work</span>
      <span class="active-filters__item">Language</span>
    </section> -->
  </section>

  <% if @users == [] && !@active_filters.empty? %>
    <%= render partial: 'no_results', locals: {active_filters: @active_filters} %>
  <% else %>

    <ul class="list">
      <% @users.each do | user | %>
        <% if !user.id.nil? %>
          <li class="list__item person-item">
            <%= image_tag(user.avatar.url(:thumb), :alt => "User", :class => "person-item__picture") %>
            <div class="person-item__content">
              <%= link_to (url_for({:controller => "users", :action => "fetch_user", :user_id => user.id})), :remote => true do %>
              <hgroup class="person-item__credentials" data-user="<%=user.id%>">
                <h2 class="person-item__name"><%= user.first_name %> <%= user.last_name %></h2>

                <h3 class="person-item__job"><%= user.position %></h3>
                <h4 class="person-item__org"><%= user.organization%></h4>
              </hgroup>
              <% end %>
              <div class="person-item__controls">
                <a href="<%= DISCOURSE_CONFIG[:url] %>/new-message?username=<%= user.username %>" class="controls__icon-button">
                  <i class="person-item__pm material-icons">mail_outline</i>
                </a>
              </div>
            </div>

            <div class="person-item__content">
              <ul class="person-item__tags category-tags">
              <% user.format_expertise.each do |e|  %>
                <li class="category-tag">
                  <span class="category-tag__main"><%= e[:category].titleize %></span>
                  <% e[:skill_areas].each do |skill_area| %>
                  <span class="category-tag__sub"><%= skill_area[:area_skill].titleize %></span>
                  <% end %>
                </li>
                <a href="#<%#e[:category]%>" >
                  <li class="category-tag__skills">View Skills (<%=e[:skill_count]%>)</li>
                </a>
              <% end %>
              </ul>
              <div class="person-item__controls">
                <a href="#" class="person-item__projects controls__button"><%=user.projects.count %> Projects</a>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate @users %>
  <% end %>
</article>

</div>