<div class="main-content"> <!-- signup-wall--active -->
  <div class="select category-filters-mobile">
    <select name="" id="">
      <% @categories.each do | category | %>
      <option><%= category['name'] %></option>
      <% end %>
    </select>
  </div>
  <ul class="category-filters">
    <% @categories.each do | category | %>
    <li class="category-filters__item"><a href="<%= root_path(:category => category['slug']) %>"><%= category['name'] %></a></li>
    <% end %>
  </ul>
  <ul class="main-content__container list">
    <% for topic in @topics %>
    <%# move me into a partial %>
    <li class="list__item post-item">
      <%=image_tag("#{DISCOURSE_CONFIG[:url]}/#{topic['details']['created_by']['avatar_template'].gsub('{size}', '45')}", :alt => "", :class => "post-item__author-picture") %>
      <div class="post-item__content">
        <p class="post-item__author-name"><strong><%= topic['post_stream']['posts'].first['name'] %></strong> asked:</p>
        <h3 class="post-item__title"><%= topic['title']%></h3>
        <p><%= truncate(strip_tags(topic['post_stream']['posts'].first['cooked']), length: 200, omission: '...') %></p>
        <div class="post-item__controls">
          <div class="controls">
            <a href='<%= "#{DISCOURSE_CONFIG[:url]}/t/#{topic['slug']}/#{topic['id']}/#{topic['posts_count']}" %>' class="controls__icon-button"><i class="material-icons">reply</i></a>
            <a href='<%= "#{DISCOURSE_CONFIG[:url]}/t/#{topic['slug']}/#{topic['id']}" %>' class="button button--small button--alpha controls__button"><%= topic['posts_count'] - 1 %> Answers</a>
            <a href='<%= "#{DISCOURSE_CONFIG[:url]}/t/#{topic['slug']}/#{topic['id']}" %>' class="button button--small button--alpha controls__show-more-button">Show More</a>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="signup-wall">
    <p>You need to be signed in <br>to use this feature</p>
  </div>
</div>