<div class="main-content edit-profile">
 <h2 class="signup-panel__heading signup-panel__content">Edit Project</h2>

<%= form_for(@project, remote:true, :html => {:class => 'form form--negative'}) do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title, value: @project.title %>
  <%= f.label :url %>
  <%= f.text_field :url, placeholder: 'URL', value: @project.url %>
  <%= f.label :description %>
  <%= f.text_area :description, value: @project.description, size: '60x12' %>

  <%= f.label 'Fields of Work' %><br>
  <%= select_tag 'project[industry_ids][]',
      options_from_collection_for_select(Industry.all, "id", "name", Project.new.industries), { :multiple => true, :size =>5}
  %>

  <%= select_tag 'project[category_ids]',
      options_from_collection_for_select(Category.includes(:skill_areas).all,"id",:display_name, @project.categories.pluck(:id)),{ :include_blank => 'Select Category' }
  %>
  <%= select_tag 'project[skill_area_ids][]',
      options_from_collection_for_select(@project.skill_areas,"id",:display_name,@project.skill_areas.pluck(:id)),{ :include_blank => 'Select a Subcategory' }
  %>
  <%= f.hidden_field :project_id, value: @project.id %>
  <%= f.submit "Update" %>
<% end %>
</div>

