<div class="signin-panel panel panel--1">
  <h2 class="signup-panel__heading signup-panel__content">Sign In</h2>
  <!-- <p class="signup-panel__content">Sign in for Network of Innovators and gain access to government and civic innovators worldwide!</p> -->


  <!-- raw FORM with generated auth token -->
<!-- <form class="new_user form form--negative signup-panel__content signup-panel__form" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
<div class='form form--negative signup-panel__content signup-panel__form'>
  <input autofocus="autofocus" placeholder="Email" type="email" value="" name="user[email]" id="user_email" />
  <input autocomplete="off" placeholder="Password" type="password" name="user[password]" id="user_password" />
  <button name="button" type="submit" class="button button--full button--main-color js-open-panel-2">Log in</button>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
    <label for="user_remember_me">Remember me</label>
  </div>
</div>
</form> -->

<div id="error_explanation" class="devise-errors">
  <ul class="error-messages">
    <%- flash.each do |name, msg| -%>
    <%= content_tag :li, msg, id: "flash_#{name}" %>
    <%- end -%>
  </ul>
</div>

<%= devise_error_messages! %>

<!-- Rails helper form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :remote => true) do |f| %>
<div class='form form--negative signup-panel__content signup-panel__form'>
  <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
  <%= f.button "Log in", id: 'login_submit', type: '', class: 'button button--full button--main-color' %>
  <% if devise_mapping.rememberable? -%>
  <div class="checkbox">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end -%>
</div>
<%= render "devise/shared/links" %>
<% end %>
</div>