<hgroup class="match-me__intro">
  <h3>I have experience and can guide others on</h3>
  <h2><%=survey.category.name%></h2>
  <h4>Choose from the following skills</h4>
</hgroup>

<%= form_for Teachable.new do |f| %>
      <ul class="list">

      <% @skill_areas.each do |skill_area| %> 
        <h5 class="questionnaire__title"> <%= skill_area.name %> <span class="questionnaire__check-all button button--alpha button--small">Check All</span></h5>
        <% skill_area.skills.each do | skill | %>
          <li class="questionnaire__item list__item">
            <input name="skill_ids[]" class="questionnaire__item__checkbox" type="checkbox" id="checkbox-<%=skill.id%>" value="<%=skill.id%>" <% if @user_skills_in_cat.include?(skill.id) %> checked="checked" <% end %> >
            <label class="questionnaire__item__label" for="checkbox-<%=skill.id%>" ><%= skill.description.capitalize %></label>
          </li>
        <% end %>
      <% end %>

        <li class="questionnaire__item questionnaire__item--submit list__item">
          <!-- {# <button class="button button--main-color" type=submit>Next</button>     #} -->
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :category_id, value: survey.category.id %>
          <%= f.hidden_field :data_source, value: "match-me-form" %>
          <%= f.submit 'Next', class: 'button button--main-color'%>
        </li>
      </ul>
<% end %>>
