<% if user_signed_in? %>
  <div class="profile-panel panel panel--1">
      <%= render 'users/profile', { user: current_user  }%>
  </div>
  <div class="project-panel panel panel--2">
      <%= render 'users/projects', { user: current_user  }%>
  </div>
  <div class="event-panel panel panel--3">
      <%= render 'users/events', { user: current_user }%>
  </div>
  <div class="expertise-panel panel panel--4">
      <%= render 'users/expertise', { user: current_user }%>
  </div>


  <%= render 'match-me', { user: current_user }%>

  
<% else %>
  <%= render 'devise/registrations/new' %>
  <div class="main-content signup-wall--active "> 
    <%= render 'match-me', { user: @users.first}%> <!-- TEMPORARY -->
    <div class="signup-wall">
      <p>You need to be signed in <br>to use this feature</p>
    </div>
  </div>
<% end %>