<% if user_signed_in? %>
  <div class="profile-panel panel panel--1">
      <%= render 'users/profile', { user: current_user  }%>
  </div>
  <div class="project-panel panel panel--2">
      <%= render 'users/projects', { user: current_user  }%>
  </div>
  <div class="event-panel panel panel--3">
      <%= render 'users/events', { user: current_user }%>
  </div>
  <div class="expertise-panel panel panel--4">
      <%= render 'users/expertise', { user: current_user }%>
  </div>
<% else %>
  <%= render 'devise/registrations/new' %>
<% end %>


<div class="<%= @no_matches ? 'main-content match-me no-match' : 'main-content match-me'%>">

  <div class="main-content__container">
    <div class="toast toast--yellow js-active matches-toast">
      <i class="material-icons toast__close">close</i>
      <h4 class="toast__heading">Match Me</h4>
      <p class="toast__text">Your matches are people who have experience in what you want to learn and have something to learn from you.</p>
    </div>

    <% if @matches == [] %>
      <h3 class="match-me__question"> <%=@user.first_name%>, we haven’t found any matches for you at this time.</h3>
      <h4 class="match-me__intro match-me--search-innovators">Why don’t you <a class='match-me__search-link' href='/search'>search for innovators</a> instead?</h4>
      </body>
    <% else %>
      <hgroup class="match-me__intro">
        <h2><%=@user.first_name%>,</h2>
        <h3>meet your matches!</h3>
        <h4>Go ahead! Ask them a question :)</h4>
        <p class="align-center"><a href="/matches" class="button button--negative">Match Me again</a></p>
      </hgroup>
    <% end %>

    <ul class="list">
    <% @matches.each do | match |%>
      <%= link_to (url_for({:controller => "users", :action => "fetch_user", :user_id => match.id})), :remote => true do %>
        <li class="list__item person-item">
          <% if match.picture_path != "" && match.avatar.url == "avatars/nopic-avatar1.jpg" %>
            <%= image_tag(match.picture_path, :alt => "User", :class => "person-item__picture") %>
          <% else %>
            <% user_avatar = nil %>
            <% if match.avatar.url != "avatars/nopic-avatar1.jpg" %>
              <%= image_tag(match.avatar.url(:thumb), :alt => "User", :class => "person-item__picture") %>
            <% else %>
              <% user_avatar = "/assets/avatars/nopic-avatar1-8d8a5abc4c5f961d8a028e95ed3c9d9216a92465feef27a98b31a64d0c186cde.jpg" %>
              <%= image_tag(user_avatar, :alt => "User", :class => "person-item__picture") %>
            <% end %>
          <% end %>
        <% end %>


        <div class="person-item__content">

          <%= link_to (url_for({:controller => "users", :action => "fetch_user", :user_id => match.id})), :remote => true do %>
            <hgroup class="person-item__credentials person-item--no-flex">
              <h2 class="person-item__name"><%= match.first_name %> <%= match.last_name%><a href="<%= DISCOURSE_CONFIG[:url] %>/new-message?username=<%= match.username %>" class="controls__icon-button"><i class="person-item__pm material-icons">mail_outline</i></a></h2>
              <h3 class="person-item__job"><%= match.position%> | <%= match.organization %></h3>
              <h4 class="person-item__org"><%= match.location %></h4>
            </hgroup>
          <% end %>

          <ul class="person-item__tags category-tags person-item--no-flex">

            <% match.format_expertise.each do |e| %>
              <li class="person-item__tag category-tag">
                <span class="category-tag__main"><%=e[:category].titleize%></span>
                <% e[:skill_areas].each do |skill_area| %>
                  <span class="category-tag__sub"><%= skill_area[:area_skill].titleize %></span>
                <% end %>
              </li>
            <%end%>

          </ul>

          <div class="person-item__controls">
            <%= link_to (url_for({:controller => "users", :action => "fetch_user", :user_id => match.id})), :remote => true do %>
              <span class="person-item__projects controls__button js-open-panel-2"><%= match.projects.count%> Projects</span>
            <% end %>
          </div>

        </div> <!-- .person-item__content -->

        <div class="person-item__content">
          <ul class="user-skill-list">
            <h6><%= match.first_name%> <%= match.last_name %> can advise you on <%= match.can_teach.count %> skills</h6>

            <% format_skills(match.can_teach).each do |skillset| %>
              <h5><%=skillset[:category]%></h5>
              <%skillset[:skills].each do |skill| %>
                <li class="user-skill-list__item"><%=skill.capitalize%></li>
              <%end%>
            <% end %>

          </ul>

          <ul class="user-skill-list">
            <h6>You can advise <%= match.first_name %> on <%= match.can_learn.length%> skills</h6>

            <% format_skills(match.can_learn).each do |skillset| %>
              <h5><%=skillset[:category]%></h5>
              <%skillset[:skills].each do |skill| %>
                <li class="user-skill-list__item"><%=skill.capitalize%></li>
              <%end%>
            <% end %>
          </ul>
        </div> <!-- .person-item__content -->

      </li> <!-- .list__item person-item -->

    <% end %>

    </ul>
    <% if @matches != []%>
      <%= will_paginate @matches %>
    <% end %>


  </div> <!-- .main-content__container -->
</div> <!-- .main-content.match-me -->
