<header class="top-bar">
    <h1 class="top-bar__logo"><a href="<%= root_path %>"><%= image_tag("noi-logo-white.svg", :alt => "Network of Innovators") %></a></h1>

    <%= form_tag(users_path, :method => "get", id: "top-search-form", :class => "top-bar__search search search--negative") do %>
      <%= text_field_tag "search_string", "", :class => "search__field", :placeholder => "Search for a name, organization, or keyword" %>

      <%= submit_tag "search", :name => nil, :class => "js-search-submit" %>
    <% end %>


    <!-- ========================================
    ============ HEADER FOR LOGGED IN ===========
    ==========================================-->
    <% if user_signed_in? %>

      <div class="top-bar__user-menu user-menu">
        <!-- use "user-menu__item--highlighted" class when we have notifications for the user -->
        <!-- <span class="user-menu__item user-menu__item--messages user-menu__item--highlighted"><i class="material-icons">chat</i></span> -->
        <!-- <span class="user-menu__item user-menu__item--notifications"><i class="material-icons">notifications_none</i></span> -->
        <div class="user-menu__item user-menu__item--settings js-open-this js-open-panel">

          <% user_avatar = nil %>

          <% if current_user.avatar.url != "avatars/nopic-avatar1.jpg" %>
            <% user_avatar = current_user.avatar.url %>
          <% else %>
            <% user_avatar = "/assets/avatars/nopic-avatar1-8d8a5abc4c5f961d8a028e95ed3c9d9216a92465feef27a98b31a64d0c186cde.jpg" %>
          <% end %>

          <div class="img" style="background-image: url(<%= user_avatar %>);"></div>

          <ul class="user-menu__dropdown">
            <li><%= link_to "Logout", destroy_user_session_path, class: 'bottom-border' %></li>
            <li><%= link_to "Edit Profile", fetch_edit_user_path, :remote => true %></li>
          </ul>
        </div>
      </div>

  <% else %>
    <!-- ========================================
    ============ HEADER FOR LOGGED OUT ==========
    ==========================================-->
    <div class="top-bar__user-menu user-menu user-menu--desktop">
      <%= link_to "Sign up", fetch_sign_up_path, :remote => true, class: 'button' %><%= link_to "Login", fetch_log_in_path, :remote => true, class: 'button' %>
    </div>

    <div class="top-bar__user-menu user-menu user-menu--mobile">
      <a href="users/sign_in" class="button">Log in</a>
    </div>

  <% end %>

  </header>
