<!DOCTYPE html>
<html>
<head>
  <title>Noi3</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://use.typekit.net/ioh1apd.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <a name="top"></a>
  
  <%= render 'layouts/top-bar' %>

  <main class="app-wrapper">
    <%= render 'layouts/main-menu' %>    

    <!-- PANEL 1 -->
    <div class="panel--1__handle material-icons"></div>
    <!-- PANEL 2 -->
    <!-- PANEL 3 -->
    <!-- PANEL 4 -->
    <!-- MAIN CONTENT -->
  
    <%= yield %>

  </main>
  <div id="overlay" class="js-overlay"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>

</body>
</html>
