<!DOCTYPE html>
<html>
<head>
  <title>Noi3</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://use.typekit.net/ioh1apd.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <header class="top-bar">
    <h1 class="top-bar__logo"><a href="<%= root_path %>"><%= image_tag("noi-logo-white.svg", :alt => "Network of Innovators") %></a></h1>

    <form class="top-bar__search search search--negative search--fixed js-target-search" action="">
      <input class="search__field" type="text">
      <input class="js-search-submit js-trigger-search search-trigger" type="submit" value="search">
    </form>
    <!-- Auth header -->
    <% if user_signed_in? %>

    <div class="top-bar__user-menu user-menu">
      <!-- {# use "user-menu__item--highlighted" class when we have notifications for the user #} -->
      <!-- <span class="user-menu__item user-menu__item--messages user-menu__item--highlighted"><i class="material-icons">chat</i></span> -->
      <!-- <span class="user-menu__item user-menu__item--notifications"><i class="material-icons">notifications_none</i></span> -->
      <div class="user-menu__item user-menu__item--settings js-open-this js-open-panel">
      <%= image_tag(current_user.avatar.url(:thumb), :alt => "User") %>
        <ul class="user-menu__dropdown">
          <li><%= link_to "Edit Account", fetch_edit_account_path, :remote => true %></li>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
<!-- TEMP - for testing -->
      
      
    <% else %>
    <div class="top-bar__user-menu user-menu user-menu--desktop">
      <%= link_to "Sign up", fetch_sign_up_path, :remote => true, class: 'button' %><%= link_to "Login", fetch_log_in_path, :remote => true, class: 'button' %>
    </div>

    <div class="top-bar__user-menu user-menu user-menu--mobile">
      <a href="users/sign_in" class="button">Log in</a>
    </div>
    <% end %>

  </header>

  <main class="app-wrapper">
    <nav class="main-menu">
      <a href="<%= root_path %>" class="main-menu__item <%= current_class?('/') %>" title="Ask a Question"><i class="material-icons">chat</i></a>
      <a href="<%= users_path %>" class="main-menu__item <%= current_class?('/search') %>" title="Find Innovators"><i class="material-icons">search</i></a>
      <a href="<%= DISCOURSE_CONFIG[:url] %>" class="main-menu__item" title="Discuss"><i class="material-icons">forum</i></a>
      <a href="/match-me" class="main-menu__item <%= current_class?('/matches') %><%= current_class?('/match-me') %>" title="Match Me"><i class="material-icons">people</i></a>
      
    </nav>

    <%# render 'devise/sessions/new' %>
    <%# render 'devise/registrations/new' %>
<!--     <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> -->

     <% unless flash.empty? %>
        <script type="text/javascript">
            <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
            <% end %>
        </script>
     <% end %>

    <%= yield %>

  </main>
  <div id="overlay" class="js-overlay"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>

</body>
</html>
